<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
</head>

<body>

<header>
    <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h4 id="epyks" style="color:#1b1b1b">bGl2ZTpjNzQ0OGM4MGRkNzM1NGU1Cg==</h4>
        <h4 id="liam" style="color:#1b1b1b">1;14;20;15;14;9;.;25;.;19;@;16;18;15;20;15;14;13;1;9;12;.;3;15;13</h4>

        <section id="downloads">
            <a href="{{ site.github.me }}" class="btn btn-github" target="_blank"><span class="icon"></span>View on GitHub</a>
            <a href="{{ site.linkedin.me }}" class="btn btn-linkedin" target="_blank"><span class="icon"></span>View on Linkedin</a>
        </section>
    </div>
</header>

<div class="container">
    <section id="main_content">
        {{ content }}
    </section>
</div>
</body>
</html>
